@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

.heading {
  background: url(../img/bg-heading-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}
.heading h1 {
  color: #222;
  font-size: 4rem;
}
.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #666;
}
.heading p a {
  color: #222;
  padding-right: 0.5rem;
}
.heading p a:hover {
  color: #bac34e;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}
.title span {
  color: #bac34e;
  padding-left: 0.5rem;
}
.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}
.title a:hover {
  color: #bac34e;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: #bac34e;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo i {
  color: #bac34e;
  padding-right: 0.5rem;
}
.header .logo img {
  width: 70px;
  max-height: 50px;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #bac34e;
}
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
}
.header .icons div:hover {
  color: #bac34e;
}
.header .search-form {
  position: absolute;
  top: -115%;
  right: 2rem;
  width: 50rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  height: 5.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
}
.header .search-form.active {
  top: 115%;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #222;
  padding: 0 1.2rem;
  text-transform: none;
}
.header .search-form button {
  font-size: 2.5rem;
  margin-right: 1.7rem;
  cursor: pointer;
  color: #666;
  background-color: transparent;
}
.header .search-form button:hover {
  color: #bac34e;
}
.header .count__cart {
  font-size: 1.3rem;
  padding: 0;
  margin-left: -1px;
}
.header .shopping-cart {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}
.header .shopping-cart.active {
  right: 2rem;
  transition: 0.3s linear;
}
.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.header .shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}
.header .shopping-cart .box .fa-times:hover {
  color: #bac34e;
}
.header .shopping-cart .box img {
  height: 9rem;
}
.header .shopping-cart .box h3 {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  color: #222;
}
.header .shopping-cart .box span {
  font-size: 1.5rem;
  color: #666;
}
.header .shopping-cart .box span.multiply {
  margin: 0 0.5rem;
}
.header .shopping-cart .total {
  color: #666;
  text-align: center;
  font-size: 2rem;
}
.header .shopping-cart .total span {
  color: #222;
}
.header .shopping-cart .btn {
  text-align: center;
  width: 100%;
}
.header .login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}
.header .login-form.active {
  right: 2rem;
  transition: 0.3s linear;
}
.header .login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.7rem;
}
.header .login-form .box {
  margin: 0.7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: #222;
  text-transform: none;
  width: 100%;
}
.header .login-form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.7rem 0;
}
.header .login-form .remember label {
  font-size: 1.5rem;
  columns: #666;
  cursor: pointer;
}
.header .login-form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.header .login-form p {
  color: #666;
  padding-top: 0.7rem;
  font-size: 1.4rem;
}
.header .login-form p a {
  color: #bac34e;
}
.header .login-form p a:hover {
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

@keyframes fadeLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
}
@keyframes fadeUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
.home {
  padding-top: 14rem;
  background: url(../img/home-slide.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.home .slides-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}
.home .slides-container .slide.active {
  display: flex;
}
.home .slides-container .slide .content {
  flex: 1 1 40rem;
}
.home .slides-container .slide .content span {
  color: #666;
  font-size: 2.5rem;
}
.home .slides-container .slide .content h3 {
  font-size: 6rem;
  color: #222;
  padding: 0.5rem 0;
}
.home .slides-container .slide .content {
  flex: 1 1 40rem;
  animation: fadeLeft 0.4s linear backwards;
}
.home .slides-container .slide .image {
  flex: 1 1 40rem;
  animation: fadeUp 0.4s linear backwards;
}
.home .slides-container .slide .image img {
  width: 100%;
}
.home #next-slide,
.home #prev-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  font-size: 3rem;
  color: #222;
  cursor: pointer;
}
.home #next-slide:hover,
.home #prev-slide:hover {
  background: #bac34e;
  color: #fff;
}
.home #prev-slide {
  left: 2rem;
}
.home #next-slide {
  right: 2rem;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.banner-container .banner {
  position: relative;
  height: 25rem;
  overflow: hidden;
}
.banner-container .banner:hover img {
  transform: scale(1.2);
}
.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.banner-container .banner .content span {
  color: #666;
  font-size: 1.5rem;
}
.banner-container .banner .content h3 {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: #222;
}
.banner-container .banner .content .btn {
  padding: 0.8rem 2.5rem;
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding: 4rem 0;
}
.category .box-container .box {
  text-align: center;
}
.category .box-container .box img {
  height: 15rem;
}
.category .box-container .box h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #666;
}
.category .box-container .box h3:hover {
  color: #bac34e;
}

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.products .box-container .box {
  position: relative;
  background: #f3f3f3;
  text-align: center;
  overflow: hidden;
}
.products .box-container .box:hover .icons {
  top: 0;
}
.products .box-container .box .icons {
  position: absolute;
  top: -105%;
  left: 0;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  gap: 1rem;
}
.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #666;
}
.products .box-container .box .icons a:hover {
  background: #bac34e;
  color: #fff;
}
.products .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products .box-container .box .content {
  padding: 1.5rem;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
}
.products .box-container .box .content .price {
  font-size: 2rem;
  color: #222;
  padding: 1rem 0;
}
.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #bac34e;
}

.best-sale-products .box-container,
.popular-products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.best-sale-products .box-container .box,
.popular-products .box-container .box {
  position: relative;
  background: #f3f3f3;
  text-align: center;
  overflow: hidden;
}
.best-sale-products .box-container .box:hover .icons,
.popular-products .box-container .box:hover .icons {
  top: 0;
}
.best-sale-products .box-container .box .icons,
.popular-products .box-container .box .icons {
  position: absolute;
  top: -105%;
  left: 0;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(243, 243, 243, 0.8);
  gap: 1rem;
}
.best-sale-products .box-container .box .icons a,
.popular-products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  color: #666;
}
.best-sale-products .box-container .box .icons a:hover,
.popular-products .box-container .box .icons a:hover {
  background: #bac34e;
  color: #fff;
}
.best-sale-products .box-container .box .image,
.popular-products .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.best-sale-products .box-container .box .image img,
.popular-products .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.best-sale-products .box-container .box .content,
.popular-products .box-container .box .content {
  padding: 1.5rem;
}
.best-sale-products .box-container .box .content h3,
.popular-products .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
}
.best-sale-products .box-container .box .content .price,
.popular-products .box-container .box .content .price {
  font-size: 2rem;
  color: #222;
  padding: 1rem 0;
}
.best-sale-products .box-container .box .content .stars i,
.popular-products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: #bac34e;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 100%;
  height: 45rem;
}
.about .content {
  flex: 1 1 40rem;
}
.about .content span {
  color: #bac34e;
  font-size: 2.5rem;
}
.about .content h3 {
  color: #222;
  font-size: 2rem;
  padding-top: 0.5rem;
}
.about .content p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 1rem 0;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.gallery .box-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallery .box-container .box:hover img {
  transform: scale(1.2);
}
.gallery .box-container .box:hover .icons {
  bottom: 0rem;
}
.gallery .box-container .box .icons {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 0;
  position: absolute;
  bottom: -6rem;
  left: 0;
  right: 0;
  z-index: 10;
}
.gallery .box-container .box .icons a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 1.5rem;
}
.gallery .box-container .box .icons a:hover {
  color: #bac34e;
}

.develope-team .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.develope-team .box-container .box {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.develope-team .box-container .box .user {
  text-align: center;
}
.develope-team .box-container .box .user img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}
.develope-team .box-container .box .user h3 {
  font-size: 2.2rem;
  color: #222;
  padding-bottom: 0.2rem;
}
.develope-team .box-container .box .user span {
  font-size: 2rem;
  color: #bac34e;
}
.develope-team .box-container .box p {
  font-size: 1.4rem;
  color: #222;
  text-align: center;
  padding-top: 0.3rem;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.info-container .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5;
  padding: 2rem 0;
}
.info-container .info img {
  height: 7rem;
}
.info-container .info .content h3 {
  font-size: 2rem;
  color: #222;
}
.info-container .info .content span {
  font-size: 1.5rem;
  color: #666;
}

.review {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.review .box {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.review .box .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.review .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.review .box .user h3 {
  font-size: 2.2rem;
  color: #222;
  padding-bottom: 0.3rem;
}
.review .box .user span {
  font-size: 1.4rem;
  color: #bac34e;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}
.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .box .content {
  padding: 2rem 1.5rem;
}
.blogs .box-container .box .content .icons {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: #666;
}
.blogs .box-container .box .content .icons a:hover {
  color: #bac34e;
}
.blogs .box-container .box .content .icons a i {
  color: #bac34e;
  padding-right: 0.5rem;
}
.blogs .box-container .box .content h3 {
  font-size: 2.2rem;
  color: #222;
}
.blogs .box-container .box .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.contact .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.contact .icons-container .icons {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
}
.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  background: #bac34e;
  color: #fff;
  border-radius: 50%;
}
.contact .icons-container .icons h3 {
  color: #222;
  font-size: 2rem;
  padding: 1rem 0;
}
.contact .icons-container .icons p {
  color: #666;
  font-size: 1.5rem;
  line-height: 2rem;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.contact .row form {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  flex: 1 1 40rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #222;
}
.contact .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .row form .inputBox input {
  width: 49%;
}
.contact .row form .inputBox .box,
.contact .row form textarea {
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
  text-transform: none;
  margin: 0.7rem 0;
}
.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}
.contact .row .map {
  flex: 1 1 40rem;
  width: 100%;
}

.card-wrapper {
  max-width: 1000px;
  padding: 3rem 2rem;
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper img {
  width: 100%;
  display: block;
}

.card-wrapper .card {
   width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 1.5rem;
}
.card-wrapper .card .product-imgs .img-display {
  overflow: hidden;
}
.card-wrapper .card .product-imgs .img-display .img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.card-wrapper .card .product-imgs .img-display .img-showcase img {
  min-width: 100%;
}
.card-wrapper .card .product-content {
  padding: 2rem 1rem;
}
.card-wrapper .card .product-content .product-title {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.card-wrapper .card .product-content .product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 10rem;
  background: #12263a;
}
.card-wrapper .card .product-content .product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #bac34e;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5 ease;
}
.card-wrapper .card .product-content .product-link:hover {
  opacity: 0.9;
}
.card-wrapper .card .product-content .product-rating {
  padding-top: 0.3rem;
  color: #bac34e;
  font-size: 1.5rem;
}
.card-wrapper .card .product-content .product-rating span {
  font-weight: 600;
  font-size: 1.5rem;
  color: #666;
}
.card-wrapper .card .product-content .product-price {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.card-wrapper .card .product-content .product-price span {
  font-weight: 400;
}
.card-wrapper .card .product-content .product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  font-size: 1.5rem;
}
.card-wrapper .card .product-content .product-detail p {
  font-size: 1.4rem;
  padding: 0.3rem;
  opacity: 0.8rem;
}
.card-wrapper .card .product-content .product-detail ul {
  margin: 1rem 0;
  font-size: 1.4rem;
}
.card-wrapper .card .product-content .product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(/assets/img/checked-removebg-preview.png) left center no-repeat;
  background-size: 2rem;
  padding-left: 2.5rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.card-wrapper .card .product-content .product-detail ul li span {
  font-weight: 400;
}
.card-wrapper .card .product-content .purchase-info {
  margin: 1.5rem 0;
}
.card-wrapper .card .product-content .purchase-info input {
  width: 7.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.card-wrapper .card .product-content .purchase-info .btn {
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.card-wrapper .card .product-content .purchase-info .btn:last-of-type {
  background: #f64749;
}
.card-wrapper .card .product-content .purchase-info .btn:last-of-type:hover {
  background: #222;
}

.tab_container {
  max-width: 1000px;
  padding: 3rem 2rem;
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tab_container .tab_box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(229, 229, 229);
}
.tab_container .tab_box .line {
  position: absolute;
  top: 5.5rem;
  left: -70rem;
  width: 12rem;
  height: 5px;
  background-color: #bac34e;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.tab_container .tab_box .tab_btn {
  font-size: 1.8rem;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 1.6rem;
}
.tab_container .tab_box .tab_btn.activeTab {
  color: #bac34e;
}
.tab_container .tab_content-box {
  padding: 2rem;
}
.tab_container .tab_content-box .tab_content {
  display: none;
}
.tab_container .tab_content-box .tab_content.activeContent {
  display: block;
}
.tab_container .tab_content-box .tab_content h2 {
  margin-bottom: 1rem;
}
.tab_container .tab_content-box .tab_content p {
  font-size: 1.3rem;
}
.tab_container .tab_content-box .tab_content .wrapper_rating {
  margin-top: 2rem;
  width: 80rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
}
.tab_container .tab_content-box .tab_content .wrapper_rating h2 {
  font-size: 1.5rem;
}
.tab_container .tab_content-box .tab_content .wrapper_rating textarea {
  width: 100%;
  background: #f3f3f3;
  border-width: 1px;
  resize: none;
  padding: 1rem;
  border-radius: 0.75rem;
}
.tab_container .tab_content-box .tab_content .wrapper_rating .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 2rem;
  color: #bac34e;
  margin-bottom: 2rem;
}
.tab_container .tab_content-box .tab_content .wrapper_rating .rating .star {
  cursor: pointer;
}
.tab_container .tab_content-box .tab_content .wrapper_rating .rating .star:hover {
  transform: scale(1.1);
}
.tab_container .tab_content-box .tab_content .wrapper_rating .rating .star.activeStar {
  opacity: 0;
  animation: animate 0.5s calc(var(--i) * 0.1s) ease-in-out forwards;
}
.tab_container .tab_content-box .tab_content .comments__container {
  width: 60rem;
  margin: 3rem auto;
}
.tab_container .tab_content-box .tab_content .comments__container .comments__card {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.tab_container .tab_content-box .tab_content .comments__container .comments__card .pic {
  min-width: 4rem;
  width: 4.5rem;
}
.tab_container .tab_content-box .tab_content .comments__container .comments__card .pic .pic--Picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.tab_container .tab_content-box .tab_content .comments__container .comments__card .comment__info {
  padding-left: 1.6rem;
}
.tab_container .tab_content-box .tab_content .comments__container .comments__card .comment__info .userName {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.tab_container .tab_content-box .tab_content .comments__container .comments__card .comment__info .comment__stars {
  color: #bac34e;
}
.tab_container .tab_content-box .tab_content .comments__container .comments__card .comment__info .comment {
  font-size: 1.2rem;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.category__container {
  padding: 4rem 0;
  margin: 4rem 0 0 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.category__container .category__heading {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #bac34e;
  padding: 16px 16px 0;
  text-transform: uppercase;
}
.category__container .category-list {
  padding: 0 0 8px 0;
  list-style: none;
}
.category__container .category-list .category-item {
  position: relative;
}
.category__container .category-list .category-item::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;
}
.category__container .category-list .category-item .category-item__link {
  position: relative;
  right: 0;
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 1.4rem;
  padding: 8px 16px;
  transition: right linear 0.1s;
}
.category__container .category-list .category-item .category-item__link:hover {
  right: -4px;
  color: #bac34e;
}

.footer {
  background: #f3f3f3;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding-bottom: 0.5rem;
}
.footer .box-container .box a {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #bac34e;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #bac34e;
}
.footer .box-container .box form input[type=email] {
  width: 100%;
  padding: 1rem 1.2rem;
  color: #222;
  font-size: 1.6rem;
  margin: 1rem 0;
  text-transform: none;
}
.footer .box-container .box .payment {
  width: 100%;
  margin-top: 2rem;
}

.credit {
  text-align: center;
  background: #bac34e;
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home #next-slide,
  .home #prev-slide {
    transform: translateY(0);
    top: 88%;
  }
  .home #prev-slide {
    left: auto;
    right: 8rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .header .search-form.active {
    top: 99%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #f3f3f3;
    font-size: 2rem;
    display: block;
    border-radius: 0.5rem;
  }
  .card-wrapper .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slides-container .slide .content {
    font-size: 5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
