@model WebQLyNongSan.Models.Supplier

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-form">
    <form action="~/Admin/Supplier/Edit/@Model.id" method="post" class="form js-form animate" id="form-1" enctype="multipart/form-data">
        <div class="modal-comback">
            <a href="~/Admin/Supplier/Index"> <i class="fa-solid fa-arrow-left"></i> Quay lại</a>
        </div>
        <h3 class="heading">Chỉnh sửa nhà sản xuất</h3>

        <div class="spacer"></div>

        <div class="form-group">
            <label for="Name" class="form-label">Tên nhà sản xuất</label>
            <input id="Name" name="Name" value="@Model.Name" type="text" placeholder="VD: Nhà cô tư" class="form-control">
            <span class="form-message"><label class="error" for="Name"></label></span>
        </div>

        <div class="form-group">
            <label for="Address" class="form-label">Địa chỉ</label>
            <input id="Address" name="Address" value="@Model.Address" type="text" placeholder="VD: Bình Thuận" class="form-control">
            <span class="form-message"><label class="error" for="Address"></label></span>
        </div>


        <div class="form-group">
            <label for="Phone" class="form-label">Số điện thoại</label>
            <input id="Phone" name="Phone" type="number" value="@Model.Phone" placeholder="VD: 031234567" class="form-control">
            <span class="form-message"><label class="error" for="Phone"></label></span>
        </div>

        <button type="submit" class="form-submit">Chỉnh sửa</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section scripts {
    <script>
        $(document).ready(function () {
            //Setting validation
            $('#form-1').validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 3
                    },
                    Address: "required",
                    Phone: {
                        required: true,
                        maxlength: 10,
                        minlength: 10
                    }
                },
                messages: {
                    Name: {
                        required: "Bạn phải nhập tên",
                        minlength: "Tên phải có độ dài tối thiểu 3 ký tự"
                    },
                    Address: "Bạn phải nhập địa chỉ",
                    Phone: {
                        required: "Bạn phải nhập số điện thoại",
                        maxlength: "Số điện thoại có độ dài tối đa 10 ký tự",
                        minlength: "Số điện thoại có độ dài là 10 ký tự"
                    }
                }
            });


        });

    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}
