
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading">
    <h1>Cảm nhận của khách hàng</h1>
    <p><a href="~/Home/Index">Trang chủ >></a> Review</p>
</div>

<section class="info-container">
    <div class="info">
        <img src="~/assets/img/icon-1.png" alt="">
        <div class="content">
            <h3>Chuyển phát nhanh</h3>
            <span>trong vòng 30 phút</span>
        </div>
    </div>

    <div class="info">
        <img src="~/assets/img/icon-2.png" alt="">
        <div class="content">
            <h3>hoạt động 24/7</h3>
            <span>gọi chúng tôi mọi lúc</span>
        </div>
    </div>

    <div class="info">
        <img src="~/assets/img/icon-3.jpg" alt="">
        <div class="content">
            <h3>Đa dạng thanh toán</h3>
            <span>Trả tiền mặt hoặc thanh toán online</span>
        </div>
    </div>
</section>

<section class="review">
  
    <section class="review">
        <div class="box">
            <div class="user">
                <img src="/assets/img/avatar2.jpg" alt="">
                <div class="info">
                    <h3>Trung Do</h3>
                    <span>Happy client</span>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="box">
            <div class="user">
                <img src="/assets/img/avatar1.jpg" alt="">
                <div class="info">
                    <h3>Tu Le</h3>
                    <span>Happy client</span>
                </div>
            </div>
            <p>Tôi đã ghé qua  trang web của bạn, thật sự rất tuyệt vời</p>
        </div>

        <div class="box">
            <div class="user">
                <img src="/assets/img/avatar3.jpg" alt="">
                <div class="info">
                    <h3>Tan Cao</h3>
                    <span>Happy client</span>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </section>
</section>

