@model WebQLyNongSan.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    * {
        text-transform: none;
    }
</style>
<div class="main">
    <form action="~/Auth/ChangePassword" method="post" class="form js-form animate" id="form-1" enctype="multipart/form-data">
        <div class="modal-comback">
            <a href="~/Home/Index"> <i class="fa-solid fa-arrow-left"></i> Quay lại</a>
        </div>
        <h3 class="heading__Register">Đổi mật khẩu</h3>
        <div class="spacer"></div>

        <div class="form-group">
            <label for="currentPassword" class="form-label">Mật khẩu cũ</label>
            <input id="currentPassword" name="currentPassword" type="password" placeholder="VD: 123" class="form-control">
            <span class="form-message"><label class="error" for="currentPassword"></label></span>
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Mật khẩu mới</label>
            <input id="password" name="NewPassword" type="password" placeholder="VD: 123" class="form-control">
            <span class="form-message"><label class="error" for="password"></label></span>
        </div>

        <div class="form-group">
            <label for="password_confirm" class="form-label">Nhập lại mật khẩu mới</label>
            <input id="password_confirm" name="password_confirm" type="password" placeholder="VD: 123" class="form-control">
            <span class="form-message"><label class="error" for="password_confirm"></label></span>
        </div>

        <button type="submit" class="form-submit">Lưu</button>
    </form>
</div>


@section scripts {
    <script>
        $(document).ready(function () {

            //Setting validation
            $('#form-1').validate({
                rules: {
                    currentPassword: {
                        required: true,
                        minlength: 3
                    },
                    PassWord: {
                        required: true,
                        minlength: 3
                    },
                    password_confirm: {
                        minlength: 3,
                        equalTo: "#password",
                    },

                },
                messages: {
                    currentPassword: {
                        required: "Bạn phải nhập mật khẩu",
                        minlength: "Mật khẩu phải có độ dài tối thiểu 3 ký tự"
                    },
                    NewPassword: {
                        required: "Bạn phải nhập mật khẩu mới",
                        minlength: "Mật khẩu phải có độ dài tối thiểu 3 ký tự"
                    },
                    password_confirm: {
                        equalTo: "Vui lòng nhập lại đúng mật khẩu mới",
                        minlength: "Mật khẩu có độ dài tối thiểu 3 ký tự",

                    },
                }
            });


        });
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    @{
        try
        {          

            if (TempData["errorChangePass"] != null)
            {
                <script>
                swal({
                    title: "Lỗi",
                    text: '@Html.Raw(TempData["errorChangePass"])',
                    icon: "error",
                });
                </script>
                TempData["errorChangePass"] = null;
            }
        }
        catch
        {

        }
    }
}

